@import "../../styles//helpers.scss";

.journey {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.questionProgress {
  display: flex;
  height: 2px;
  background-color: $secondaryColor;

  &Amount {
    background-color: $primaryColor;
  }
}
