@import "../../styles/helpers.scss";

.assessment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.prevNextLink {
  @include linkStyle();
}

.modal {
  @include modalStyle();

  &Inner {
    text-align: center;
    font-size: 2rem;
  }
}

.modalOverlay {
  @include modalOverlayStyle();
}
