@import "../../styles/helpers.scss";

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.providerLoginName {
  margin-right: 1rem;
}

.google {
  background-color: $white;
  color: #4285f4;
}

.github {
  background-color: $black;
  color: $white;
}
