@import "../../../../styles/helpers.scss";

.headingWrapper {
  margin: 0 0 1.5rem;
  height: 80px;
}

.heading {
  @include headerStyle();
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
