@import "../../styles/helpers.scss";

.courses {
  line-height: 1.3;
  font-size: 1.3rem;

  .card {
    margin: 1.5rem;
    margin: 0 1.5rem 1.5rem 0;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  &Heading {
    @include headerStyle();
  }

  &Content {
    margin-bottom: 2rem;
  }
}
