$primaryColor: #607d8b;
$primaryDarkColor: #37474f;
$secondaryColor: #d8d8d8;
$ternaryColor: #ff9800;

$ternaryShadow: rgba(255, 152, 0, 0.8);

$gray15: #151515;
$gray30: #303030;
$white: #fff;
$black: #000;

$disabledGray: #8d8d8d;

$codeEditor: $gray15;
$codeEditorInput: $gray30;
